.stat-0-69 {
  background-color: #fbe0e0; //#ffd9d9
}

.stat-70-74 {
  background-color: #efcf8f; // #ffd480; // #efcf8f;
}

.stat-75-79 {
  background-color: #f2eb0d; // #fff500; // #f2eb0d
}

.stat-80-84 {
  background-color: #ade232; // #b7f81a; // #ade232
}

.stat-85-89 {
  background-color: #3cdd57; // #2bec4b; // #3cdd57
}

.stat-90-100 {
  background-color: #1dc992; // #14d297; // #1dc992
}
