@use 'variables' as *;
@use 'stats';

@keyframes linear-progress {
  0% {
    transform: translate3d(-35%, 0, 0) scale3d(0.35, 1, 1);
  }
  60% {
    transform: translate3d(100%, 0, 0) scale3d(0.9, 1, 1);
  }
  100% {
    transform: translate3d(100%, 0, 0) scale3d(0.9, 1, 1);
  }
}

@keyframes linear-progress-short {
  0% {
    transform: translate3d(-101%, 0, 0) scale3d(1, 1, 1);
  }
  60% {
    transform: translate3d(107%, 0, 0) scale3d(0.01, 1, 1);
  }
  100% {
    transform: translate3d(107%, 0, 0) scale3d(0.01, 1, 1);
  }
}

:host {
  @media screen and (max-width: $overflow-max-width) {
    overflow: auto;
  }
}

table {
  border-collapse: separate;
  border-spacing: 0;
  border: 0;
  page-break-inside: avoid;
  table-layout: fixed;
  max-width: 100%;
  font-size: 0.875rem;
  min-width: $table-min-width;

  @media screen and (max-width: $one-column-bp) {
    width: 100%;
  }

  thead {
    tr {
      // box-sizing: border-box;
      // height: 48px;

      @media screen and (max-width: 400px) {
        // height: 44px;
      }

      &:first-child th {
        top: 0;
        padding-top: 10px;
        padding-bottom: 10px;

        &:last-child {
          padding-right: 10px;
          padding-left: 10px;
        }
      }
    }

    th {
      position: sticky;
      position: -webkit-sticky; // for safari
      z-index: 10;
      white-space: nowrap;

      &:nth-child(2) {
        // width: 100%;
        padding: 8px 10px;
      }

      @media print {
        position: initial;
      }
    }
  }

  tbody tr {
    &:hover {
      background: $tr-hover-bg;
    }

    &:first-child {
      th[scope='row'],
      td {
        padding-top: 6px;

        .cell-icon {
          top: 1.5px;
        }
      }
    }

    &:last-child {
      th[scope='row'],
      td {
        padding-bottom: 6px;

        .cell-icon {
          top: -1.5px;
        }
      }

      &.weight-row th {
        padding-top: 10px;
        padding-bottom: 10px;
      }
    }

    td {
      &:last-child {
        padding-right: 10px;
        padding-left: 10px;
      }
    }
  }

  tbody tr:last-child {
    th,
    td {
      border-bottom: 1px solid $border;
    }
  }

  td,
  th {
    border: 0;
    // border-bottom: 1px solid rgb(0 0 0 / 8%);
    // padding: 2px;
    text-align: center;
    padding: 3px;

    @media print {
      padding: 2px;
    }
  }

  th[scope='col'] {
    text-transform: uppercase;
    border-bottom: 2px solid $border;
    box-sizing: border-box;
    height: 43px;
    // font-size: 14px;
    background-color: $th-rowgroup-bg;
    font-weight: 500;
    color: rgb(38, 38, 38);
    letter-spacing: 0.5px;

    &:nth-of-type(4) {
      padding-right: 1rem;
    }
  }

  th[scope='rowgroup'] {
    background: $th-rowgroup-bg;

    box-sizing: border-box;
    border-style: solid;
    border-color: $border;
    border-width: 0 1px 1px 0;
    font-weight: 500;
    max-width: 40px;
    width: 40px;
    color: rgb(38, 38, 38);
    letter-spacing: 3px;
    box-sizing: border-box;

    // pointer-events: none; // do not highlight row
    // word-break: keep-all;
    // writing-mode: vertical-lr;
    // transform: rotate(-180deg);

    @media screen and (max-width: 400px) {
      // max-width: 44px;
    }

    &:hover ~ th[scope='row']::after {
      content: unset;
    }
  }

  th[scope='row'] {
    font-weight: normal;
    text-align: left;
    font-weight: 400;
    padding: 2px 10px;
    // width: 100%;
    color: rgb(82 82 82);
    box-sizing: border-box;
    white-space: nowrap;

    @media screen and (max-width: $ellipsis-max-width) {
      // max-width: 100px;
      text-overflow: ellipsis;
      // width: 100%;
      overflow: hidden;
    }
  }

  td {
    box-sizing: border-box;
    text-align: center;
    position: relative;
    // font-weight: 500;

    // height: 38px;

    &:nth-of-type(2) {
      padding-right: 1rem;
    }
  }
  /*
  tfoot {
    tr {
      background: #3b484e;
      color: #fff;
    }

    th,
    td {
      border: 0;
    }

    th[scope='row'] {
      font-weight: 400;
      letter-spacing: 6px;
      padding: 12px 8px;
      text-transform: uppercase;

      @media screen and (max-width: 400px) {
        letter-spacing: 2px;
      }
    }

    td:last-child {
      font-weight: 900;
      color: #000;
    }
  }
  */
}

.progress {
  // height: 0 !important;

  th {
    padding: 0;
    top: 43px;
  }
}

.linear-progress {
  position: absolute;
  bottom: 0;
  height: 2px;
  width: 100%;
  overflow: hidden;

  @media print {
    display: none;
  }

  div {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    &::before,
    &::after {
      // background: transparent;
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      transform-origin: 0 0;
    }

    /*

    &::before {
      animation: linear-progress 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395)
        infinite;
    }

    &::after {
      transform: translate3d(-101%, 0, 0) scale3d(1, 1, 1); // hide it before animation start
      animation: linear-progress-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1)
        infinite;
      animation-delay: 1.15s;
    }
    */
  }
}

table.loading {
  .linear-progress div {
    &::before,
    &::after {
      background: $table-loading-color;
    }

    &::before {
      animation: linear-progress 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395)
        infinite;
    }

    &::after {
      transform: translate3d(-101%, 0, 0) scale3d(1, 1, 1); // hide it before animation start
      animation: linear-progress-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1)
        infinite;
      animation-delay: 1.15s;
    }
  }
}

.vertical-text {
  transform: rotate(270deg);
  display: block;

  abbr {
    text-decoration: none;
  }
}

/*
td balv3-skeleton {
  display: block;
  width: 100%;
  height: 1.5rem;
}

td .rectangle::part(indicator) {
  border-radius: 3px;
  transition: background 0.1s linear;
}

td {
  transition: background 0.1s linear;
}
*/

.stat {
  display: flex;
  font-weight: 500;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  padding: 2px 8px;
  width: 38px;
  height: 32px;
  box-sizing: border-box;
  color: rgb(15, 15, 15);
  position: relative;
  border: 2px solid rgba(0, 0, 0, 0.125);

  @media print {
    width: 32px;
    height: 26px;
  }

  &.stat-MKII {
    border: 2px solid $mkII-color;
  }
}

.cell-icon {
  display: inline-flex;
  // width: 1rem;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  align-items: center;
  justify-content: end;
  bottom: 0;
}

@media screen {
  .col-group {
    width: 40px;
  }

  .col-attrs {
    // width: 160px;
  }

  .col-min {
    width: 44px;
  }

  .col-max {
    width: 57px;
  }

  .col-diff {
    width: 54px;
  }
}
